Repository 2024-CMPU9010-GROUP-3/magpie, pull requests merged in 2024-10, with the labels that each got.

#76 Misc/ci-backend-build
  .github/workflows/backend-private-build.yaml
  .github/workflows/backend-public-build.yaml
Labels: enhancement, backend, CI/CD

#82 Backend/database setup
  .github/workflows/backend-private-test.yaml
  .github/workflows/backend-public-test.yaml
  .gitignore
  Backend/Makefile
  Backend/cmd/main/main.go
  Backend/go.mod
  Backend/go.sum
  Backend/internal/db/private/db.go
  Backend/internal/db/private/models.go
  Backend/internal/db/private/queries_private.sql.go
  Backend/internal/db/public/db.go
  Backend/internal/db/public/models.go
  Backend/internal/db/public/queries_public.sql.go
  Backend/readme.md
  Backend/sql/extensions.sql
  Backend/sql/queries_private.sql
  Backend/sql/queries_public.sql
  Backend/sql/reset.sql
  Backend/sql/schema.sql
  Backend/sqlc.yaml
Labels: enhancement, backend

#83 Misc/ci-docker-compose
  .github/workflows/branch-name-test.yaml
  Distribution/compose/local/docker-compose.yaml
  Distribution/compose/remote/docker-compose.yaml
  Frontend/src/app/api/mapbox-token/route.ts
  Frontend/src/app/components/map/MapboxMap.tsx
Labels: enhancement, frontend, CI/CD

#84 Frontend/create account
  Frontend/package.json
  Frontend/public/images/logo.svg
  Frontend/src/app/auth/login/page.tsx
  Frontend/src/app/auth/signin/page.tsx
  Frontend/src/app/components/form/user-auth-form.tsx
  Frontend/src/components/ui/icons.tsx
  Frontend/src/components/ui/registry/button.tsx
  Frontend/src/components/ui/registry/card.tsx
  Frontend/src/components/ui/registry/form.tsx
  Frontend/src/components/ui/registry/input.tsx
  Frontend/src/components/ui/registry/label.tsx
  Frontend/src/components/ui/registry/textarea.tsx
Labels: enhancement, frontend

#92 Adds most parts of presentation 2
  Documentation/presentation/presentation2/SYSARCH2_SaulBurgess.tex
  Documentation/presentation/presentation2/logo-circle.png
  Documentation/presentation/presentation2/news_screenshot.png
  Documentation/presentation/presentation2/presentation.tex
  Documentation/presentation/presentation2/sources.bib
Labels: documentation

#101 Image generating script in python
  Python/.gitignore
  Python/requirements.txt
  Python/script/dataset-generation/DatasetGeneration.py
  Python/script/dataset-generation/pyvenv.cfg
Labels: machine learning

#108 Create Labeling done by Yolo model
  Python/notebooks/Labeling done by Yolo model.ipynb
Labels: machine learning

#113 Removes all members.md
  .github/Members/C19349793.md
  .github/Members/D22125495.md
  .github/Members/D22127697.md
  .github/Members/D23124588.md
  .github/Members/D23124940.md
  .github/Members/D23125112.md
  .github/Members/template.md
Labels: documentation

#114 Adds all meeting logs to date
  Documentation/mom/week1/initial.md
  Documentation/mom/week2/day1.md
  Documentation/mom/week2/day3.md
  Documentation/mom/week2/day4.md
  Documentation/mom/week2/day5.md
  Documentation/mom/week3/day1.md
  Documentation/mom/week3/day2.md
  Documentation/mom/week3/day3.md
  Documentation/mom/week3/day4.md
  Documentation/mom/week3/day5.md
Labels: documentation

#117 Auto-labelling using yolov5 + our own images
  Python/notebooks/labeling using pretrained models/Labeling done by Yolo model.ipynb
  Python/notebooks/labeling using pretrained models/Labeling with Faster R-CNN and Mask R-CNN.ipynb
  Python/script/auto-labelling/readme.txt
Labels: machine learning

#98 Initial commit of the kubernetes deployment
  Distribution/kubernetes/Magpie/kustomization.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/database.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/kustomization.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/private/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/private/kustomization.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/private/service.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/public/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/public/kustomization.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/public/service.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/kustomization.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/secret.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/service.yaml
  Distribution/kubernetes/Magpie/magpie/install.yaml
  Distribution/kubernetes/Magpie/namespace.yaml
  Distribution/kubernetes/kustomization.yaml
Labels: CI/CD

#118 Second draft of the model
  Python/script/auto-labelling/data.yaml
  Python/script/auto-labelling/hyp.yaml
  Python/script/auto-labelling/readme.txt
Labels: machine learning

#120 Day 4 meeting log
  Documentation/mom/week4/day4.md
Labels: documentation

#121 distribution/kubernetes fix
  Distribution/kubernetes/Magpie/magpie/app/backend/private/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/public/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/headers.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/ingress.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/kustomization.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/service.yaml
  Distribution/kubernetes/Magpie/magpie/install.yaml
Labels: CI/CD

#127 Data split script
  Python/script/auto-labelling/dataset_ann/data_split.py
  Python/script/auto-labelling/readme.txt
Labels: machine learning

#131 documentation/daily meeting
  Documentation/mom/week4/day5.md
  Documentation/mom/week5/day1.md
Labels: documentation

#128 Python/labelling notebook
  Python/notebooks/labeling using pretrained models/Auto labelling notebook collab version.ipynb
  Python/notebooks/labeling using pretrained models/Auto labelling notebook.ipynb
Labels: machine learning

#133 Merges all gitignores
  .gitignore
  Frontend/.gitignore
  Python/.gitignore
Labels: bug, enhancement

#94 Frontend/login
  Frontend/public/images/BKlogo.svg
  Frontend/public/images/Bird.png
  Frontend/public/images/WTlogo.svg
  Frontend/public/images/auth-bk.png
  Frontend/public/images/auth-wt.png
  Frontend/public/images/image.svg
  Frontend/src/app/auth/login/page.tsx
  Frontend/src/app/auth/signin/page.tsx
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/form/user-auth-form.tsx
  Frontend/src/app/login/page.tsx
  Frontend/src/app/signup/page.tsx
Labels: enhancement, frontend

#177 Documentation/user persona micahel obrien
  Documentation/ux-documents/user-personas/michael-o'brian/michael-o'biren-user-persona.png
  Documentation/ux-documents/user-personas/michael-o'brian/michael-o'brian.md
  Documentation/ux-documents/user-personas/sarah thompson/sarah-thompson.md
Labels: documentation, UX

#181 Backend/fix login route
  Backend/.version
  Backend/cmd/main/main.go
  Backend/internal/handlers/auth_public.go
Labels: bug, backend

#172 Backend/standardised error handling
  Backend/.version
  Backend/internal/errors/error_definitions.go
  Backend/internal/errors/errors.go
  Backend/internal/handlers/auth_public.go
  Backend/internal/handlers/points_private.go
  Backend/internal/handlers/points_public.go
  Backend/internal/middleware/authentication.go
  Backend/internal/responses/responses.go
  Backend/readme.md
  Backend/readme_errors.md
Labels: backend

#186 Updates build actions to remove `/n` and `/r` from version input
  .github/workflows/backend-private-build.yaml
  .github/workflows/backend-public-build.yaml
  .github/workflows/frontend-build.yaml
Labels: backend, CI/CD

#191 Adds day2 and day3 daily-meeting notes
  Documentation/mom/week5/day2.md
  Documentation/mom/week5/day3.md
Labels: documentation

#194 Improves the mask creation function
  Python/script/parking-detection/parking_detection.py
Labels: machine learning

#193 Adds GitHub actions for running unit tests and reporting results
  .github/workflows/backend-private-test.yaml
  .github/workflows/backend-public-test.yaml
  Backend/internal/routes/routes_private_test.go
  Backend/internal/routes/routes_public_test.go
Labels: backend, CI/CD

#197 Added a mind map
  Documentation/ux-documents/mind-map/mind map.png
Labels: documentation

#196 Added user journeys for general user and authorities
  .gitignore
  Documentation/ux-documents/user-journey/user Journey - city authorities.png
  Documentation/ux-documents/user-journey/user journey - general user.png
Labels: documentation

#190 Update tuning_notes.txt
  Python/script/auto-labelling/tuning_notes.txt
Labels: machine learning

#199 Update tuning_notes.txt
  Python/script/auto-labelling/tuning_notes.txt
Labels: machine learning

#200 Refactor `.gitattributes` and `.gitignore`
  .gitattributes
  .gitignore
  Backend/.gitignore
  Distribution/.gitignore
  Documentation/.gitignore
  Frontend/.gitignore
  Python/.gitignore
Labels: CI/CD

#208 Adds macOS .DS_STORE to .gitignore
  .gitignore
Labels: enhancement, backend

#211 Parking detection script
  Python/script/parking-detection/parking_detection.py
Labels: machine learning

#214 Box scales according to the slider and returns corner coordinates
  Frontend/.gitignore
  Frontend/src/app/components/map/MapboxMap.tsx
Labels: enhancement, frontend

#220 Adds parking as point type, removes placeholders
  Backend/internal/db/private/models.go
  Backend/internal/db/public/models.go
  Backend/sql/schema.sql
Labels: bug, database

#224 Adds meetings and retrospective
  Documentation/mom/week5/day4.md
  Documentation/mom/week5/day5.md
  Documentation/mom/week6/day1.md
  Documentation/retrospectives/week3.md
  Documentation/retrospectives/week4.md
  Documentation/retrospectives/week5.md
Labels: documentation

#227 Adds route for searching for points in circle
  Backend/.version
  Backend/internal/db/public/queries_public.sql.go
  Backend/internal/handlers/points_public.go
  Backend/internal/routes/routes_public.go
  Backend/routes-public.md
  Backend/sql/queries_public.sql
Labels: enhancement, backend

#229 Updates secret and deployment
  Distribution/kubernetes/Magpie/magpie/app/backend/db-secret.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/private/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/public/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/deployment.yaml
Labels: CI/CD

#230 New script to split test images from all images
  Python/script/auto-labelling/dataset_ann/find_test_img.ipynb
  Python/script/auto-labelling/tuning_notes.txt
Labels: machine learning

#234 Added new mapbox style (custom) to show the points on the map.
  Frontend/src/app/components/map/MapboxMap.tsx
Labels: machine learning

#239 Interim Report
  Documentation/.devcontainer/devcontainer.json
  Documentation/.devcontainer/docker-compose.yml
  Documentation/interim-report/images/System_Diagram.png
  Documentation/interim-report/images/arcgis.png
  Documentation/interim-report/images/dataflow_backend2.png
  Documentation/interim-report/images/discord.png
  Documentation/interim-report/images/gantt.png
  Documentation/interim-report/images/mask_and_mapbox.png
  Documentation/interim-report/images/opacity_mask.png
  Documentation/interim-report/images/parkopedia.png
  Documentation/interim-report/images/stack_grid.png
  Documentation/interim-report/images/training_table1.png
  Documentation/interim-report/main.tex
  Documentation/interim-report/pages/evaluation.tex
  Documentation/interim-report/pages/key_refs_resources.tex
  Documentation/interim-report/pages/plan.tex
  Documentation/interim-report/pages/tech_problem.tex
  Documentation/interim-report/pages/tech_solution.tex
  Documentation/interim-report/pages/user_scenario.tex
  Documentation/interim-report/sources.bib
  Documentation/interim-report/structure.tex
Labels: documentation

#243 Documentation/survey target
  Documentation/survey/survey-target-users.txt
Labels: documentation

#242 fixes Jessica and Anais names which were swapped in certain meeting minutes
  Documentation/mom/week4/day1.md
  Documentation/mom/week4/day4.md
  Documentation/mom/week5/day1.md
  Documentation/mom/week5/day2.md
  Documentation/mom/week5/day4.md
Labels: documentation

#244 Adds barebones implementation of login and points api request
  Frontend/src/app/api/login/route.ts
  Frontend/src/app/api/points/route.ts
  Frontend/src/app/components/ProtectedRoute.tsx
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/home/HomePage.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
Labels: enhancement, frontend

#246 Create model_results.xlsx
  Python/script/auto-labelling/model_results.xlsx
Labels: machine learning

#247 Enable kubernetes filematcher
  .github/renovate.json
Labels: CI/CD

#249 API Integration
  Frontend/src/app/api/backend-env/route.ts
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/serverActions/mapFunctions.ts
  Frontend/src/lib/interfaces/types.tsx
Labels: enhancement, frontend

#275 Renames 'PROJECT' to 'magpie'
  .github/workflows/backend-private-test.yaml
  .github/workflows/backend-public-test.yaml
  Backend/cmd/main/main.go
  Backend/go.mod
  Backend/internal/handlers/auth_public.go
  Backend/internal/handlers/points_private.go
  Backend/internal/handlers/points_public.go
  Backend/internal/middleware/authentication.go
  Backend/internal/responses/responses.go
  Backend/internal/routes/routes_private.go
  Backend/internal/routes/routes_public.go
  Backend/readme.md
  Distribution/compose/local/docker-compose.yaml
  readme.md
Labels: bug

#274 Python/image download
  Python/script/parking-detection/parking_detection_local.py
Labels: machine learning

#273 Backend/db migration solution
  Backend/.version
  Backend/Dockerfile.private
  Backend/Dockerfile.public
  Backend/cmd/main/main.go
  Backend/go.mod
  Backend/go.sum
  Backend/internal/util/util.go
  Backend/readme.md
  Backend/sql/migrations/00001_extensions.down.sql
  Backend/sql/migrations/00001_extensions.up.sql
  Backend/sql/migrations/00002_initial_schema.down.sql
  Backend/sql/migrations/00002_initial_schema.up.sql
  Backend/sql/reset.sql
  Backend/sqlc.yaml
Labels: enhancement, backend, database

#276 Updates backend to new image
  Distribution/kubernetes/Magpie/magpie/app/backend/private/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/public/deployment.yaml
Labels: CI/CD

#280 enable multithreading for point upload
  Python/script/send-coordinates-to-backend/send_points.py
Labels: machine learning

#281 MOM & Retrospective
  Documentation/mom/week6/day4.md
  Documentation/mom/week6/day5.md
  Documentation/mom/week7/day1.md
  Documentation/mom/week7/day2.md
  Documentation/mom/week7/day3.md
  Documentation/retrospectives/week6.md
Labels: documentation

#286 backend/additional datatypes
  Backend/.version
  Backend/internal/db/private/models.go
  Backend/internal/db/public/models.go
  Backend/sql/migrations/00003_add-default-point-type.down.sql
  Backend/sql/migrations/00003_add-default-point-type.up.sql
  Backend/sql/migrations/00004_additional-amenity-types.down.sql
  Backend/sql/migrations/00004_additional-amenity-types.up.sql
Labels: enhancement, backend, database

#287 Updates Docker Compose
  Distribution/compose/local/docker-compose.yaml
  Distribution/compose/remote/docker-compose.yaml
Labels: CI/CD

#282 Add prototypes v1
  Documentation/ux-documents/prototypes/Home Page - Banner.png
  Documentation/ux-documents/prototypes/Home Page - Dropdown menu.png
  Documentation/ux-documents/prototypes/Home Page-1.png
  Documentation/ux-documents/prototypes/Home Page.png
  Documentation/ux-documents/prototypes/Login-Forget your password-1.png
  Documentation/ux-documents/prototypes/Login-Forget your password.png
  Documentation/ux-documents/prototypes/Login-loading.png
  Documentation/ux-documents/prototypes/Login.png
  Documentation/ux-documents/prototypes/Signup - Errors.png
  Documentation/ux-documents/prototypes/Signup - Signing Up.png
  Documentation/ux-documents/prototypes/Signup.png
  Documentation/ux-documents/prototypes/Terms & Privacy.png
Labels: documentation
