Repository 2024-CMPU9010-GROUP-3/magpie, pull requests merged in 2024-11, with the labels that each got.

#294 Added a few filter checkbox items
  Frontend/package.json
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/components/ui/checkbox.tsx
  Frontend/src/components/ui/form.tsx
  Frontend/src/components/ui/label.tsx
  Frontend/src/components/ui/toast.tsx
  Frontend/src/components/ui/toaster.tsx
  Frontend/src/hooks/use-toast.ts
Labels: frontend

#298 Refactors root readme
  licence
  readme.md
Labels: documentation

#299 changed email from TODO -> {myemail}
  readme.md
Labels: documentation

#279 Update send points script to handle other data sources
  Python/.gitignore
  Python/script/convert_easting_northing_to_long_lat/convert_easting_northing_to_long_lat.py
  Python/script/geojson-to-csv/geojson_to_csv.py
  Python/script/send-coordinates-to-backend/send_points.py
Labels: machine learning

#306 Map page UI overhaul
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/tailwind.config.ts
Labels: enhancement, frontend, UX

#309 Documentation/survey followup
  Documentation/survey/email_template.txt
  Documentation/survey/survey_follow-up.xlsx
Labels: documentation

#310 Backend/unit tests
  Backend/.version
  Backend/go.mod
  Backend/go.sum
  Backend/internal/db/db.go
  Backend/internal/db/private/enum_validation.go
  Backend/internal/db/public/enum_validation.go
  Backend/internal/dtos/create_point_dto.go
  Backend/internal/dtos/create_user_dto.go
  Backend/internal/dtos/dtos.go
  Backend/internal/dtos/get_point_dto.go
  Backend/internal/dtos/login_user_dto.go
  Backend/internal/dtos/point_id_dto.go
  Backend/internal/dtos/response_content_dto.go
  Backend/internal/dtos/response_dto.go
  Backend/internal/dtos/update_user_dto.go
  Backend/internal/dtos/user_id_dto.go
  Backend/internal/errors/error_definitions.go
  Backend/internal/errors/errors.go
  Backend/internal/handlers/auth_public.go
  Backend/internal/handlers/auth_public_test.go
  Backend/internal/handlers/handlers.go
  Backend/internal/handlers/points_private.go
  Backend/internal/handlers/points_private_test.go
  Backend/internal/handlers/points_public.go
  Backend/internal/handlers/points_public_test.go
  Backend/internal/middleware/authentication.go
  Backend/internal/middleware/authentication_test.go
  Backend/internal/middleware/logging_test.go
  Backend/internal/responses/responses.go
  Backend/internal/routes/routes_private_test.go
  Backend/internal/routes/routes_public_test.go
  Backend/internal/util/testutil/bcrypt.go
  Backend/internal/util/testutil/handler.go
  Backend/internal/util/testutil/middleware.go
  Backend/internal/util/testutil/router.go
  Backend/internal/util/testutil/testutil.go
  Backend/internal/util/util.go
Labels: enhancement, backend

#315 Adds daily meeting notes for week's 7 and 8
  Documentation/mom/week7/day4.md
  Documentation/mom/week7/day5.md
  Documentation/mom/week8/day1.md
  Documentation/mom/week8/day2.md
Labels: documentation

#318 backend/filter points
  Backend/.version
  Backend/cmd/main/main.go
  Backend/internal/db/public/enum_validation.go
  Backend/internal/db/public/queries_public.sql.go
  Backend/internal/errors/error_definitions.go
  Backend/internal/handlers/points_public.go
  Backend/internal/handlers/points_public_test.go
  Backend/internal/util/util.go
  Backend/sql/queries_public.sql
Labels: enhancement, backend

#325 Documentation/retrospectives week7
  Documentation/retrospectives/week7.md
Labels: documentation

#327 backend/fix failing tests
  .github/workflows/backend-private-test.yaml
  .github/workflows/backend-public-test.yaml
  Backend/.version
  Backend/internal/db/public/queries_public.sql.go
  Backend/internal/dtos/create_point_dto.go
  Backend/internal/dtos/create_user_dto.go
  Backend/internal/dtos/login_user_dto.go
  Backend/internal/dtos/point_id_dto.go
  Backend/internal/dtos/update_user_dto.go
  Backend/internal/dtos/user_id_dto.go
  Backend/internal/handlers/auth_public.go
  Backend/internal/handlers/auth_public_test.go
  Backend/internal/handlers/points_private.go
  Backend/internal/middleware/authentication.go
  Backend/internal/routes/routes_private_test.go
  Backend/internal/routes/routes_public_test.go
  Backend/internal/util/testutil/middleware.go
  Backend/internal/util/testutil/router.go
  Backend/sql/queries_public.sql
Labels: bug, backend

#336 fix type registration bug
  Backend/cmd/main/main.go
  Backend/go.sum
Labels: bug, backend, database

#337 Frontend/handle more datatypes
  Frontend/package.json
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/map/utils/MapboxLayers.ts
  Frontend/src/components/ui/command.tsx
  Frontend/src/components/ui/dialog.tsx
  Frontend/src/components/ui/registry/multiple-select.tsx
Labels: enhancement, frontend

#343 delete question mark
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/form/user-auth-form.tsx
Labels: frontend

#348 Python/survey analysis
  Python/script/survey-analysis/analysis.ipynb
  Python/script/survey-analysis/col_names.txt
  Python/script/survey-analysis/process.ipynb
  Python/script/survey-analysis/userA_emails.txt
  Python/script/survey-analysis/userB_emails.txt
Labels: documentation

#347 Onboarding flow for the main page
  Frontend/package.json
  Frontend/src/app/components/avatarmenu/avatarmenu.tsx
  Frontend/src/app/components/home/HomePage.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/onboarding/card.tsx
  Frontend/src/app/components/onboarding/steps.tsx
  Frontend/src/app/layout.tsx
  Frontend/src/components/ui/card.tsx
  Frontend/src/components/ui/dropdown-menu.tsx
  Frontend/tailwind.config.ts
Labels: frontend

#354 fixed layers - reduced data seen when map zoomed out
  Frontend/package.json
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/map/utils/MapboxLayers.ts
Labels: frontend

#352 fixed invalid geoJson error
  Frontend/src/app/components/map/MapboxMap.tsx
Labels: frontend

#356 fix build error
  Frontend/src/app/components/map/MapboxMap.tsx
Labels: frontend

#357 backend/login use session
  Backend/internal/dtos/login_user_dto.go
  Backend/internal/dtos/login_user_response_dto.go
  Backend/internal/handlers/auth_public.go
  Backend/internal/handlers/auth_public_test.go
  Backend/internal/middleware/authentication.go
  Backend/internal/middleware/authentication_test.go
  Backend/internal/util/testutil/bcrypt.go
  Backend/internal/util/testutil/handler.go
  Backend/internal/util/testutil/middleware.go
Labels: enhancement, backend

#358 frontend/login use session
  Frontend/package.json
  Frontend/src/app/components/ProtectedRoute.tsx
  Frontend/src/app/components/avatarmenu/avatarmenu.tsx
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/serverActions/actions.ts
  Frontend/src/app/context/AuthContext.tsx
  Frontend/src/app/login/page.tsx
  Frontend/src/app/signup/page.tsx
  Frontend/src/lib/cookies.ts
  Frontend/src/lib/jwt.ts
  Frontend/src/lib/session.ts
  Frontend/src/middleware.ts
Labels: enhancement, frontend

#367 Adds retrospective for week 8
  Documentation/retrospectives/week8.md
Labels: documentation

#373 Modifies docker-compose with pinned versions
  Distribution/compose/remote/docker-compose.yaml
Labels: CI/CD

#378 Refactor Icon Display
  Frontend/package.json
  Frontend/public/images/accessibleParking.png
  Frontend/public/images/bicycle.png
  Frontend/public/images/bicycle_share.png
  Frontend/public/images/bin.png
  Frontend/public/images/bus.png
  Frontend/public/images/car_park.png
  Frontend/public/images/library.png
  Frontend/public/images/parking.png
  Frontend/public/images/parking_meter.png
  Frontend/public/images/toilet.png
  Frontend/public/images/water_fountain.png
  Frontend/public/images/wifi.png
  Frontend/src/app/components/map/GoogleMap.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/map/utils/MapboxLayers.ts
  Frontend/src/lib/interfaces/types.tsx
Labels: enhancement, frontend

#375 documentation/daily reports
  Documentation/meeting-notes/andrea-13-11-24.md
  Documentation/mom/week8/day1.md
  Documentation/mom/week8/day2.md
  Documentation/mom/week8/day3.md
  Documentation/mom/week8/day4.md
  Documentation/mom/week8/day5.md
  Documentation/mom/week9/day1.md
  Documentation/mom/week9/day2.md
  Documentation/mom/week9/day3.md
Labels: documentation

#384 Frontend/fix session handling
  Frontend/src/app/api/session/route.ts
  Frontend/src/app/components/ProtectedRoute.tsx
  Frontend/src/app/components/avatarmenu/avatarmenu.tsx
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/serverActions/actions.ts
  Frontend/src/app/context/AuthContext.tsx
  Frontend/src/app/context/SessionContext.tsx
  Frontend/src/app/layout.tsx
  Frontend/src/app/nav/page.tsx
  Frontend/src/lib/cookies.ts
  Frontend/src/lib/jwt.ts
  Frontend/src/lib/session.ts
Labels: bug, frontend

#391 Frontend/fix signup
  Frontend/public/images/image.svg
  Frontend/public/images/logo-circle-bk.svg
  Frontend/public/images/logo-circle-wt.svg
  Frontend/public/images/logo-wt.svg
  Frontend/src/app/api/signup/route.ts
  Frontend/src/app/components/avatarmenu/avatarmenu.tsx
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/form/signup-form.tsx
  Frontend/src/app/components/form/user-auth-form.tsx
  Frontend/src/app/components/serverActions/actions.ts
  Frontend/src/app/login/page.tsx
  Frontend/src/app/signup/page.tsx
  Frontend/src/lib/interfaces/definitions.ts
Labels: enhancement, frontend

#380 backend/database-retries
  Backend/.version
  Backend/cmd/main/main.go
  Backend/internal/handlers/auth_public.go
  Backend/internal/middleware/authentication.go
  Backend/internal/routes/routes.go
  Backend/internal/util/dbutil/dbutil.go
  Backend/internal/util/env/env.go
Labels: enhancement, backend

#392 Backend/fix exists queries
  Backend/.version
  Backend/internal/db/public/queries_public.sql.go
  Backend/internal/handlers/auth_public_test.go
  Backend/sql/queries_public.sql
Labels: bug, database

#399 Implements workaround for race condition with login redirect
  Frontend/src/app/components/form/login-form.tsx
Labels: bug, frontend

#414 Documentation/user evaluation report
  Documentation/user-evaluation/Figures/fig1.png
  Documentation/user-evaluation/Figures/fig10.png
  Documentation/user-evaluation/Figures/fig11.png
  Documentation/user-evaluation/Figures/fig12.png
  Documentation/user-evaluation/Figures/fig13.png
  Documentation/user-evaluation/Figures/fig14.png
  Documentation/user-evaluation/Figures/fig15.png
  Documentation/user-evaluation/Figures/fig16.png
  Documentation/user-evaluation/Figures/fig2.png
  Documentation/user-evaluation/Figures/fig3.png
  Documentation/user-evaluation/Figures/fig4.png
  Documentation/user-evaluation/Figures/fig5.png
  Documentation/user-evaluation/Figures/fig6.png
  Documentation/user-evaluation/Figures/fig7.png
  Documentation/user-evaluation/Figures/fig8.png
  Documentation/user-evaluation/Figures/fig9.png
  Documentation/user-evaluation/Figures/tud_logo.png
  Documentation/user-evaluation/report.tex
  Documentation/user-evaluation/usability_notes.md
  Documentation/user-evaluation/user-testing-scenario.md
  Documentation/user-evaluation/ux_testing_users.md
Labels: assignment, UX

#363 Frontend/banner
  Frontend/src/app/components/banner/CookieConsent.tsx
  Frontend/src/app/components/banner/animate.css
  Frontend/src/app/components/home/HomePage.tsx
Labels: frontend

#415 Frontend/session cookie not set
  Frontend/package.json
  Frontend/src/app/api/session/route.ts
  Frontend/src/app/components/ProtectedRoute.tsx
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/serverActions/actions.ts
  Frontend/src/app/context/SessionContext.tsx
  Frontend/src/lib/cookies.ts
Labels: bug, frontend

#418 Fix build failure
  Frontend/src/app/components/banner/CookieConsent.tsx
  Frontend/src/lib/cookies.ts
Labels: bug, frontend

#419 Frontend Dashboard/Sidebar Refactor
  .gitignore
  Frontend/package.json
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/map/utils/MapSources.tsx
  Frontend/src/app/icon.ico
  Frontend/src/app/layout.tsx
Labels: frontend

#420 misc/k8s additions
  Distribution/kubernetes/Magpie/magpie/app/backend/private/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/deployment.yaml
Labels: CI/CD

#423 User profile survey responses
  Documentation/user-evaluation/user-testing_feedback.docx
  Documentation/user-evaluation/ux_testing_users.md
  Python/script/survey-analysis/user_profiles.ipynb
Labels: UX

#425 Enables onboarding on first login, and general fixes
  Frontend/package.json
  Frontend/src/app/components/form/login-form.tsx
  Frontend/src/app/components/home/InnerHomePage.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/onboarding/card.tsx
  Frontend/src/app/components/onboarding/steps.tsx
  Frontend/src/app/home/page.tsx
  Frontend/src/app/page.tsx
Labels: enhancement, frontend

#424 Updated icons for better visiblity and distinction
  Frontend/public/images/accessibleParking.png
  Frontend/public/images/bicycle.png
  Frontend/public/images/bicycle_share.png
  Frontend/public/images/bin.png
  Frontend/public/images/bus.png
  Frontend/public/images/car_park.png
  Frontend/public/images/library.png
  Frontend/public/images/parking.png
  Frontend/public/images/parking_meter.png
  Frontend/public/images/toilet.png
  Frontend/public/images/water_fountain.png
  Frontend/public/images/wifi.png
  Frontend/public/mapicons/accessibleParking.png
  Frontend/public/mapicons/bicycle.png
  Frontend/public/mapicons/bicycle_share.png
  Frontend/public/mapicons/bin.png
  Frontend/public/mapicons/bus.png
  Frontend/public/mapicons/car_park.png
  Frontend/public/mapicons/library.png
  Frontend/public/mapicons/parking.png
  Frontend/public/mapicons/parking_meter.png
  Frontend/public/mapicons/toilet.png
  Frontend/public/mapicons/water_fountain.png
  Frontend/public/mapicons/wifi.png
  Frontend/src/app/components/map/MapboxMap.tsx
Labels: enhancement, frontend

#430 General fixes based on session with Brendan
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/onboarding/steps.tsx
Labels: bug, frontend

#438 Backend/history
  Backend/.version
  Backend/internal/db/private/models.go
  Backend/internal/db/public/models.go
  Backend/internal/db/public/queries_public.sql.go
  Backend/internal/dtos/create_location_history_entry_dto.go
  Backend/internal/dtos/get_location_history_list_dto.go
  Backend/internal/dtos/int_id_dto.go
  Backend/internal/dtos/int_id_list_dto.go
  Backend/internal/dtos/location_history_dto.go
  Backend/internal/dtos/point_id_dto.go
  Backend/internal/errors/error_definitions.go
  Backend/internal/handlers/handlers.go
  Backend/internal/handlers/location_history_public.go
  Backend/internal/handlers/points_private.go
  Backend/internal/routes/routes_public.go
  Backend/routes-public.md
  Backend/sql/migrations/00005_history-entries.down.sql
  Backend/sql/migrations/00005_history-entries.up.sql
  Backend/sql/queries_public.sql
Labels: enhancement, backend, database

#368 Frontend/prototype v2
  Documentation/ux-documents/prototypes/v1/Home Page - Banner.png
  Documentation/ux-documents/prototypes/v1/Home Page - Dropdown menu.png
  Documentation/ux-documents/prototypes/v1/Home Page-1.png
  Documentation/ux-documents/prototypes/v1/Home Page.png
  Documentation/ux-documents/prototypes/v1/Login-Forget your password-1.png
  Documentation/ux-documents/prototypes/v1/Login-Forget your password.png
  Documentation/ux-documents/prototypes/v1/Login-loading.png
  Documentation/ux-documents/prototypes/v1/Login.png
  Documentation/ux-documents/prototypes/v1/Signup - Errors.png
  Documentation/ux-documents/prototypes/v1/Signup - Signing Up.png
  Documentation/ux-documents/prototypes/v1/Signup.png
  Documentation/ux-documents/prototypes/v1/Terms & Privacy.png
  Documentation/ux-documents/prototypes/v2/Home Page - search location.png
  Documentation/ux-documents/prototypes/v2/Home Page - search result.png
  Documentation/ux-documents/prototypes/v2/Home Page - search right side.png
  Documentation/ux-documents/prototypes/v2/Home Page - without the side drawer.png
  Documentation/ux-documents/prototypes/v2/Home Page Avatar and dropdownmenu.png
  Documentation/ux-documents/prototypes/v2/Home Page banner.png
  Documentation/ux-documents/prototypes/v2/Home Page search.png
  Documentation/ux-documents/prototypes/v2/Login-Forget your password-1.png
  Documentation/ux-documents/prototypes/v2/Login-Forget your password.png
  Documentation/ux-documents/prototypes/v2/Login-loading.png
  Documentation/ux-documents/prototypes/v2/Login.png
  Documentation/ux-documents/prototypes/v2/Signup - Errors.png
  Documentation/ux-documents/prototypes/v2/Signup - Signing Up.png
  Documentation/ux-documents/prototypes/v2/Signup.png
  Documentation/ux-documents/prototypes/v2/Terms & Privacy.png
Labels: documentation, UX

#453 backend/graceful shutdown
  Backend/.version
  Backend/cmd/main/main.go
  Backend/internal/util/env/env.go
  Backend/readme.md
Labels: enhancement, backend

#456 Revert "Frontend/change water fountain color"
  Frontend/package.json
  Frontend/public/mapicons/water_fountain.png
  Frontend/src/app/components/avatarmenu/avatarmenu.tsx
  Frontend/src/app/components/home/InnerHomePage.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/history/HistoryClient.tsx
  Frontend/src/app/history/columns.tsx
  Frontend/src/app/history/data-table.tsx
  Frontend/src/app/history/page.tsx
  Frontend/src/components/ui/table.tsx
  Frontend/src/lib/interfaces/types.tsx
Labels: bug, frontend

#455 Adds card on point hover
  Frontend/package.json
  Frontend/src/app/api/details/route.ts
  Frontend/src/app/components/avatarmenu/avatarmenu.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/map/utils/MeasurementUtils.ts
  Frontend/src/app/components/serverActions/actions.ts
  Frontend/src/app/components/serverActions/mapFunctions.ts
  Frontend/src/app/globals.css
  Frontend/src/app/terms/page.tsx
  Frontend/src/lib/interfaces/types.tsx
Labels: frontend

#465 Documentation/retrospective week11
  Documentation/retrospectives/week10.md
Labels: assignment

#469 A Song of Healthchecks and Devcontainers
  Backend/Dockerfile.private
  Backend/Dockerfile.public
  Distribution/compose/local/docker-compose.yaml
  Distribution/compose/remote/docker-compose.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/private/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/backend/public/deployment.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/deployment.yaml
  Frontend/.dockerignore
  Frontend/dockerfile
Labels: CI/CD

#472 Force update frontend package
  Distribution/compose/remote/docker-compose.yaml
  Distribution/kubernetes/Magpie/magpie/app/frontend/deployment.yaml
Labels: CI/CD

#473 MOM's for weeks 9, 10, 11
  Documentation/mom/week10/day1.md
  Documentation/mom/week10/day2.md
  Documentation/mom/week10/day3.md
  Documentation/mom/week10/day4.md
  Documentation/mom/week10/day5.md
  Documentation/mom/week11/day1.md
  Documentation/mom/week11/day2.md
  Documentation/mom/week11/day3.md
  Documentation/mom/week9/day4.md
  Documentation/mom/week9/day5.md
Labels: documentation

#481 Create tarif_zones.geojson
  Python/geojson/tarif_zones.geojson
Labels: data science

#475 Edits some rennovate settings
  .github/renovate.json
Labels: CI/CD

#489 Remove Joe
  Documentation/user-evaluation/ux_testing_users.md
  Python/script/survey-analysis/userB_emails.txt
Labels: documentation
