Repository 2024-CMPU9010-GROUP-3/magpie, pull requests merged in 2024-12, with the labels that each got.

#490 Final Report Structure Setup
  Documentation/final-report/images/TUDublin_Colour_RGB.png
  Documentation/final-report/main.tex
  Documentation/final-report/pages/appendix/A.tex
  Documentation/final-report/pages/appendix/B.tex
  Documentation/final-report/pages/appendix/_main.tex
  Documentation/final-report/pages/conclusion.tex
  Documentation/final-report/pages/evaluation/_main.tex
  Documentation/final-report/pages/evaluation/expert_review.tex
  Documentation/final-report/pages/evaluation/user_evaluation.tex
  Documentation/final-report/pages/future_work/_main.tex
  Documentation/final-report/pages/future_work/backend.tex
  Documentation/final-report/pages/future_work/deployment.tex
  Documentation/final-report/pages/future_work/frontend.tex
  Documentation/final-report/pages/future_work/machine_learning.tex
  Documentation/final-report/pages/introduction.tex
  Documentation/final-report/pages/software_management.tex
  Documentation/final-report/pages/technical_problem.tex
  Documentation/final-report/pages/technical_solution/_main.tex
  Documentation/final-report/pages/technical_solution/backend.tex
  Documentation/final-report/pages/technical_solution/data_sources.tex
  Documentation/final-report/pages/technical_solution/deployment.tex
  Documentation/final-report/pages/technical_solution/frontend.tex
  Documentation/final-report/pages/technical_solution/machine_learning.tex
  Documentation/final-report/pages/technical_solution/system_architecture.tex
  Documentation/final-report/pages/technical_solution/system_overview.tex
  Documentation/final-report/pages/user_scenario.tex
  Documentation/final-report/sources.bib
  Documentation/final-report/structure.tex
  Documentation/final-report/tables.tex
Labels: documentation, assignment

#494 frontend/improve history
  Backend/internal/db/private/models.go
  Backend/internal/db/public/models.go
  Backend/internal/db/public/queries_public.sql.go
  Backend/internal/dtos/create_location_history_entry_dto.go
  Backend/internal/dtos/location_history_dto.go
  Backend/internal/handlers/location_history_public.go
  Backend/sql/migrations/00006_history-display-name.down.sql
  Backend/sql/migrations/00006_history-display-name.up.sql
  Backend/sql/migrations/00007_history-counts.down.sql
  Backend/sql/migrations/00007_history-counts.up.sql
  Backend/sql/queries_public.sql
  Frontend/next.config.mjs
  Frontend/package.json
  Frontend/src/app/api/history/route.ts
  Frontend/src/app/api/location-lookup/route.tsx
  Frontend/src/app/components/avatarmenu/avatarmenu.tsx
  Frontend/src/app/components/home/InnerHomePage.tsx
  Frontend/src/app/components/map/MapboxMap.tsx
  Frontend/src/app/components/onboarding/steps.tsx
  Frontend/src/app/history/HistoryClient.tsx
  Frontend/src/app/history/columns.tsx
  Frontend/src/app/history/data-table.tsx
  Frontend/src/app/nav/page.tsx
  Frontend/src/lib/interfaces/types.tsx
Labels: enhancement, frontend, backend, database

#500 Documentation/user evaluation updates
  Documentation/user-evaluation/general_feedback.md
  Documentation/user-evaluation/user-testing_feedback.docx
  Documentation/user-evaluation/ux_testing_users.md
Labels: documentation, UX

#505 Enables SVGs and D2 in the devcontainer
  Documentation/.devcontainer/Dockerfile
  Documentation/.devcontainer/devcontainer.json
Labels: documentation

#509 Adds support for code blocks
  Documentation/.devcontainer/Dockerfile
  Documentation/final-report/structure.tex
Labels: documentation

#506 Fixes erroneous down migration file
  Backend/sql/migrations/00005_history-entries.down.sql
Labels: bug, database

#530 Adds hyperref for internal links, removes automatic indent at the start of paragraphs
  Documentation/final-report/structure.tex
Labels: documentation, enhancement

#538 Documentation/ml part jessica
  Documentation/final-report/images/image1_classification_test_set.png
  Documentation/final-report/images/image1_empty_parking_detection_test_set.png
  Documentation/final-report/images/image1_road_mask_classification_test_set.png
  Documentation/final-report/images/image2_classification_test_set.png
  Documentation/final-report/images/image2_empty_parking_detection_test_set.png
  Documentation/final-report/images/image2_road_mask_classification_test_set.png.png
  Documentation/final-report/images/image3_classification_test_set.png
  Documentation/final-report/images/image3_empty_parking_detection_test_set.png
  Documentation/final-report/images/image3_road_mask_classification_test_set.png
  Documentation/final-report/images/image4_classification_test_set.png
  Documentation/final-report/images/image4_empty_parking_detection_test_set.png
  Documentation/final-report/images/image4_road_mask_classification_test_set.png
  Documentation/final-report/images/image5_classification_test_set.png
  Documentation/final-report/images/image5_empty_parking_detection_test_set.png
  Documentation/final-report/images/image5_road_mask_classification_test_set.png
  Documentation/final-report/images/image6_classification_test_set.png
  Documentation/final-report/images/image6_empty_parking_detection_test_set.png
  Documentation/final-report/pages/technical_solution/machine_learning.tex
Labels: documentation

#537 Documentation/final report anais
  Documentation/final-report/images/dashboard-current.png
  Documentation/final-report/images/landing-page-current.png
  Documentation/final-report/images/map-icons-group.png
  Documentation/final-report/images/old-dashboard_opt.png
  Documentation/final-report/images/old-icons-map.png
  Documentation/final-report/images/old-login-error.png
  Documentation/final-report/images/onboarding-text-v1.png
  Documentation/final-report/images/survey-ben.png
  Documentation/final-report/images/survey-brendan.png
  Documentation/final-report/images/survey-jakub.png
  Documentation/final-report/images/survey-livia.png
  Documentation/final-report/images/survey-maira.png
  Documentation/final-report/images/survey-paul.png
  Documentation/final-report/images/user-satisfaction-survey.png
  Documentation/final-report/images/ux-survey1-data.png
  Documentation/final-report/images/ux-survey1-summary.png
  Documentation/final-report/images/ux-survey1-technical.png
  Documentation/final-report/images/ux-survey1-ui.png
  Documentation/final-report/images/wcag-guidelines.png
  Documentation/final-report/indent.log
  Documentation/final-report/main.tex
  Documentation/final-report/pages/evaluation/_main.tex
  Documentation/final-report/pages/evaluation/accessibility_review.tex
  Documentation/final-report/pages/evaluation/expert_review.tex
  Documentation/final-report/pages/evaluation/user_evaluation.tex
  Documentation/final-report/pages/evaluation/ux_review.tex
  Documentation/final-report/sources.bib
  Documentation/presentation/presentation1/indent.log
  Documentation/project plan/indent.log
  Documentation/user-evaluation/indent.log
Labels: assignment

#540 Changes placement of listings
  Documentation/final-report/pages/software_management.tex
  Documentation/final-report/pages/technical_solution/backend.tex
Labels: documentation

#547 Documentation/final report anais
  Documentation/final-report/images/accessb-survey-components.png
  Documentation/final-report/images/accessb-survey-design.png
  Documentation/final-report/images/accessb-survey-interaction.png
  Documentation/final-report/images/accessb-survey-summary.png
  Documentation/final-report/images/bryan-amenity-info.png
  Documentation/final-report/images/dashboard-current.png
  Documentation/final-report/images/odran-amenity-info.png
  Documentation/final-report/images/sarah-amenity-info.png
  Documentation/final-report/images/saved-locations.png
  Documentation/final-report/images/search-results-fail.png
  Documentation/final-report/images/search-results-parnell.png
  Documentation/final-report/images/survey-bryan.png
  Documentation/final-report/images/survey-casual-summary.png
  Documentation/final-report/images/survey-odran.png
  Documentation/final-report/images/survey-sarah.png
  Documentation/final-report/images/survey-target-summary.png
  Documentation/final-report/images/ux-survey2-data.png
  Documentation/final-report/images/ux-survey2-summary.png
  Documentation/final-report/images/ux-survey2-technical.png
  Documentation/final-report/images/ux-survey2-ui.png
  Documentation/final-report/indent.log
  Documentation/final-report/pages/evaluation/_main.tex
  Documentation/final-report/pages/evaluation/accessibility_review.tex
  Documentation/final-report/pages/evaluation/general_evaluation.tex
  Documentation/final-report/pages/evaluation/target_evaluation.tex
  Documentation/final-report/pages/evaluation/user_evaluation.tex
  Documentation/final-report/pages/evaluation/ux_review.tex
  Documentation/final-report/sources.bib
Labels: assignment

#554 Documentation ml part anais
  Documentation/final-report/images/obb-vs-nonobb-img.png
  Documentation/final-report/images/single-vs-two-stage-obj-detector.png
  Documentation/final-report/images/yolo-obb-results.png
  Documentation/final-report/images/yolo-results.png
  Documentation/final-report/indent.log
  Documentation/final-report/pages/technical_solution/machine_learning.tex
  Documentation/final-report/sources.bib
Labels: assignment

#557 Documentation/into user scenario tech problem
  Documentation/final-report/images/arcgis.png
  Documentation/final-report/images/parkopedia.png
  Documentation/final-report/main.tex
  Documentation/final-report/pages/conclusion.tex
  Documentation/final-report/pages/introduction.tex
  Documentation/final-report/pages/technical_problem.tex
  Documentation/final-report/pages/user_scenario.tex
  Documentation/final-report/sources.bib
Labels: documentation

#558 Data source section
  Documentation/final-report/images/dublin-img-area.jpg
  Documentation/final-report/images/magpie-data-stack.png
  Documentation/final-report/indent.log
  Documentation/final-report/pages/technical_solution/data_sources.tex
  Documentation/final-report/pages/technical_solution/machine_learning.tex
Labels: assignment

#556 documentation/final report andreas
  Documentation/d2-diagrams/backend-routing/backend-routing.d2
  Documentation/d2-diagrams/backend-routing/backend-routing.png
  Documentation/d2-diagrams/database-final/database-final.d2
  Documentation/d2-diagrams/database-final/database-final.png
  Documentation/d2-diagrams/database-init/database-init.d2
  Documentation/d2-diagrams/database-init/database-init.png
  Documentation/d2-diagrams/database-workflow/database_workflow.d2
  Documentation/d2-diagrams/database-workflow/database_workflow.png
  Documentation/d2-diagrams/database-workflow/database_workflow.svg
  Documentation/d2-diagrams/database_workflow.png
  Documentation/d2-diagrams/database_workflow.svg
  Documentation/final-report/images/backend_env.png
  Documentation/final-report/images/backend_github_action.png
  Documentation/final-report/images/backend_github_action_coverage.png
  Documentation/final-report/images/backend_logging.png
  Documentation/final-report/images/bcrypt_hash.png
  Documentation/final-report/images/dataflow_5.png
  Documentation/final-report/images/errors_documentation.jpg
  Documentation/final-report/images/jwt.png
  Documentation/final-report/pages/future_work/backend.tex
  Documentation/final-report/pages/technical_solution/backend.tex
  Documentation/final-report/sources.bib
  Documentation/final-report/structure.tex
Labels: documentation, backend, database, assignment

#555 Documentation/final report jessica
  Documentation/final-report/images/Parking_zones_cost.png
  Documentation/final-report/images/Parking_zones_map.png
  Documentation/final-report/images/canny_edge_mask.png
  Documentation/final-report/images/classification1.png
  Documentation/final-report/images/classification2.png
  Documentation/final-report/images/classification3.png
  Documentation/final-report/images/classification4.png
  Documentation/final-report/images/current_mask.png
  Documentation/final-report/images/empty_parking1.png
  Documentation/final-report/images/empty_parking2.png
  Documentation/final-report/images/empty_parking3.png
  Documentation/final-report/images/empty_parking4.png
  Documentation/final-report/images/label_studio1.png
  Documentation/final-report/images/label_studio2.png
  Documentation/final-report/images/label_studio3.png
  Documentation/final-report/images/label_studio4.png
  Documentation/final-report/images/new_mask.png
  Documentation/final-report/images/old_mask.png
  Documentation/final-report/images/road_mask_classification1.png
  Documentation/final-report/images/road_mask_classification2.png
  Documentation/final-report/images/road_mask_classification3.png
  Documentation/final-report/images/satellite.png
  Documentation/final-report/images/satellite_img.png
  Documentation/final-report/images/streets.png
  Documentation/final-report/images/streets_img.png
  Documentation/final-report/pages/technical_solution/machine_learning.tex
  Documentation/final-report/sources.bib
Labels: documentation, assignment

#563 documentation/fix front matter
  Documentation/final-report/main.tex
  Documentation/final-report/structure.tex
  Documentation/final-report/tables.tex
Labels: documentation, enhancement

#564 documentation/fix header footer
  Documentation/final-report/tables.tex
Labels: documentation, enhancement

#560 Documentation/final report kaustubh
  Documentation/final-report/images/stack_grid.png
  Documentation/final-report/pages/technical_solution/system_overview.tex
Labels: documentation, assignment

#566 Documentation/final report kaustubh
  Documentation/final-report/pages/future_work/frontend.tex
Labels: documentation, frontend, assignment

#565 Documentation/revision anais
  Documentation/final-report/images/michael-obrien-userpersona.png
  Documentation/final-report/images/mr-county-distribution.png
  Documentation/final-report/images/mr-extra-features.png
  Documentation/final-report/images/mr-sector-distribution.png
  Documentation/final-report/images/mr-usera-device-freq.png
  Documentation/final-report/images/mr-usera-prod-useful.png
  Documentation/final-report/images/mr-userb-amenity.png
  Documentation/final-report/images/mr-userb-prod-useful.png
  Documentation/final-report/images/mr-userb-tool-freq.png
  Documentation/final-report/images/mr-userb-tool-satisfaction.png
  Documentation/final-report/images/onboarding-text-v1.png
  Documentation/final-report/images/sarah-thompson-userpersona.png
  Documentation/final-report/images/survey-odran.png
  Documentation/final-report/images/survey-sarah.png
  Documentation/final-report/images/user-eval-process.png
  Documentation/final-report/images/ux-survey1-data.png
  Documentation/final-report/images/ux-survey1-summary.png
  Documentation/final-report/images/ux-survey1-technical.png
  Documentation/final-report/images/ux-survey1-ui.png
  Documentation/final-report/images/ux-survey2-data.png
  Documentation/final-report/images/ux-survey2-summary.png
  Documentation/final-report/indent.log
  Documentation/final-report/pages/evaluation/accessibility_review.tex
  Documentation/final-report/pages/evaluation/general_evaluation.tex
  Documentation/final-report/pages/evaluation/target_evaluation.tex
  Documentation/final-report/pages/evaluation/user_evaluation.tex
  Documentation/final-report/pages/evaluation/ux_review.tex
  Documentation/final-report/pages/technical_solution/data_sources.tex
  Documentation/final-report/pages/technical_solution/machine_learning.tex
  Documentation/final-report/pages/user_scenario.tex
  Documentation/final-report/sources.bib
  Documentation/user-evaluation/indent.log
Labels: assignment

#567 Fixes small issues
  Documentation/final-report/sources.bib
  Documentation/final-report/tables.tex
Labels: bug, documentation

#568 Adjust formatting for listings
  Documentation/final-report/pages/evaluation/ux_review.tex
  Documentation/final-report/pages/software_management.tex
  Documentation/final-report/pages/technical_solution/backend.tex
  Documentation/final-report/pages/technical_solution/data_sources.tex
  Documentation/final-report/pages/technical_solution/machine_learning.tex
  Documentation/final-report/structure.tex
Labels: documentation, enhancement

#570 Citations and edits based on first Damian email
  Documentation/final-report/pages/technical_problem.tex
  Documentation/final-report/pages/user_scenario.tex
  Documentation/final-report/sources.bib
Labels: documentation, assignment

#571 Implement feedback for backend section
  Documentation/final-report/pages/future_work/backend.tex
  Documentation/final-report/pages/technical_solution/backend.tex
Labels: documentation

#572 Makes recommended changes based on Damian's third email
  Documentation/final-report/pages/evaluation/_main.tex
  Documentation/final-report/pages/evaluation/general_evaluation.tex
  Documentation/final-report/pages/evaluation/target_evaluation.tex
  Documentation/final-report/pages/evaluation/user_evaluation.tex
  Documentation/final-report/pages/technical_problem.tex
  Documentation/final-report/pages/technical_solution/frontend.tex
  Documentation/final-report/pages/user_scenario.tex
  Documentation/interim-report/pages/tech_problem.tex
  Documentation/ui-walkthrough/notes.md
Labels: documentation, assignment

#575 documentation/add system diagrams
  Documentation/d2-diagrams/system-diagram/govie.png
  Documentation/d2-diagrams/system-diagram/magpie.svg
  Documentation/d2-diagrams/system-diagram/magpie_logo.png
  Documentation/d2-diagrams/system-diagram/mapbox.svg
  Documentation/d2-diagrams/system-diagram/nextjs.svg
  Documentation/d2-diagrams/system-diagram/openstreetmap-logo-14.png
  Documentation/d2-diagrams/system-diagram/system-diagram-backend.d2
  Documentation/d2-diagrams/system-diagram/system-diagram-backend.png
  Documentation/d2-diagrams/system-diagram/system-diagram-frontend.d2
  Documentation/d2-diagrams/system-diagram/system-diagram-frontend.png
  Documentation/d2-diagrams/system-diagram/system-diagram-full.d2
  Documentation/d2-diagrams/system-diagram/system-diagram-full.png
  Documentation/d2-diagrams/system-diagram/traefik.svg
  Documentation/final-report/pages/technical_solution/_main.tex
  Documentation/final-report/pages/technical_solution/backend.tex
  Documentation/final-report/pages/technical_solution/frontend.tex
  Documentation/final-report/pages/technical_solution/system_architecture.tex
Labels: documentation, enhancement

#576 Documentation/feedback revision anais
  Documentation/final-report/images/classification-cars.png
  Documentation/final-report/images/classification-spots-test.png
  Documentation/final-report/images/classification1.png
  Documentation/final-report/images/classification2.png
  Documentation/final-report/images/classification3.png
  Documentation/final-report/images/classification4.png
  Documentation/final-report/images/empty-detection-orientation.png
  Documentation/final-report/images/empty-detection-orientation2.png
  Documentation/final-report/images/empty-parking-detection.png
  Documentation/final-report/images/empty_parking1.png
  Documentation/final-report/images/empty_parking2.png
  Documentation/final-report/images/empty_parking3.png
  Documentation/final-report/images/empty_parking4.png
  Documentation/final-report/images/image1_classification_test_set.png
  Documentation/final-report/images/image1_empty_parking_detection_test_set.png
  Documentation/final-report/images/image2_classification_test_set.png
  Documentation/final-report/images/image3_classification_test_set.png
  Documentation/final-report/images/image3_empty_parking_detection_test_set.png
  Documentation/final-report/images/image4_classification_test_set.png
  Documentation/final-report/images/image5_classification_test_set.png
  Documentation/final-report/images/image6_classification_test_set.png
  Documentation/final-report/images/road-mask-classification-test.png
  Documentation/final-report/images/road-mask-iteration.png
  Documentation/final-report/indent.log
  Documentation/final-report/main.tex
  Documentation/final-report/pages/technical_solution/data_sources.tex
  Documentation/final-report/pages/technical_solution/machine_learning.tex
Labels: assignment

#578 Documentation revision usereval anais
  Documentation/final-report/images/ux-score-summary.png
  Documentation/final-report/indent.log
  Documentation/final-report/main.tex
  Documentation/final-report/pages/appendix.tex
  Documentation/final-report/pages/evaluation/_main.tex
  Documentation/final-report/pages/evaluation/accessibility_review.tex
  Documentation/final-report/pages/evaluation/eval_summary.tex
  Documentation/final-report/pages/evaluation/general_evaluation.tex
  Documentation/final-report/pages/evaluation/user_evaluation.tex
  Documentation/final-report/pages/evaluation/ux_review.tex
Labels: assignment

#583 Documentation/anais formatting
  Documentation/final-report/images/old-login-error.png
  Documentation/final-report/images/ux-survey1-q8.png
  Documentation/final-report/indent.log
  Documentation/final-report/pages/appendix.tex
  Documentation/final-report/pages/conclusion.tex
  Documentation/final-report/pages/evaluation/accessibility_review.tex
  Documentation/final-report/pages/evaluation/eval_summary.tex
  Documentation/final-report/pages/evaluation/general_evaluation.tex
  Documentation/final-report/pages/evaluation/target_evaluation.tex
  Documentation/final-report/pages/evaluation/ux_review.tex
  Documentation/final-report/pages/future_work/machine_learning.tex
  Documentation/final-report/pages/technical_solution/data_sources.tex
Labels: assignment
